@import "content";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body text-black;
  }
}

body {
  font-size: 16px;
  color: #232323;
  // background-image: url("https://images.unsplash.com/photo-1517495306984-f84210f9daa8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2t5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
  background-size: 100%;
}

.container {
  // width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#menu-link {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 6px;
}

text-primary {
  color: #8334cc;
}

.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
.home-block {
  padding-bottom: 40px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-32 lg:mb-6 mx-10;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
}

#main {
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr);
  // padding: 40px 20px;
  gap: 0 130px;
  align-items: start;
}

.content {
  transition: all 0.3s ease;
}

.zoom-enter .content {
  opacity: 0;
  transform: scale(0);
}

.zoom-enter-active .content {
  opacity: 1;
  transform: scale(1);
}

.zoom-exit .content {
  opacity: 1;
}

.zoom-exit-active .content {
  opacity: 0;
  transform: scale(0);
}

.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 99999999999999;
}

.Toastify {
  position: relative;
  z-index: 999999999 !important;
}

.swiper-pagination-bullet-active {
  background-color: #8334cc !important;
}
